body {
    margin: 0;
    color: #2A384A;
    font-family: 'Domine', serif;
    font-size: 18px;
}

h1 {
    margin-top: 2px;
    color: #2A384A;
    font-family: 'Oswald', sans-serif;
    font-size: 38px;
    line-height: 1.2;
    text-transform: uppercase;
}
a {
    color: #2A384A;
}
a::visited {
    color: #2A384A;
}

strong {
    padding: 10px 15px;
    color: red;
    text-decoration: underline;
    background-color: yellow;
}
.note {
    font-size: 15px;
    font-style: italic;
}


.main-content-container {
    width: 50%;
    float: left;
    background-color: #FFFEF7;
}
.navigation {
    width: 50%;
    height: 40px;
    // Styling
    font-family: 'Oswald', sans-serif;
    background-color: red;
    // Flexbox
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.navigation .button {
    width: 50%;
    padding: 10px;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-color: #FB6E59;
    cursor: pointer;
}
.navigation .button.active {
    background-color: #D75D4B;
}
.main-content-scroll {
    height: calc(100vh - 45px);
    position: relative;
    top: 5px;
}
.main-content {
    margin: 80px 115px;
}
.main-content p {
    line-height: 32px;
}
.main-content .divider {
    width: 100%;
    height: 1px;
    background-color: #EDEAE0;
}
.step-number {
    color: #C8C5B7;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.2;
}

.secondary-content {
    width: 50%;
    float: left;
    position: fixed;
    height: 100vh;
    right: 0;
}
.secondary-content img  {
    width: 100%;
}
.secondary-content .image-note {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 245px;
    padding: 20px;
    color: #5a6d82;
    font-size: 13px;
    font-style: italic;
    text-align: center;
    background-color: white;
    border: 3px solid #2A384A;
}
.secondary-content .image {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
}
.secondary-content .image.ian {
    background-image: url('img/christmas-background-image.jpg');
}
.secondary-content .image.mao {
    background-image: url('img/maothedachshund.jpg');
    background-position: left center;
}



// Helps
// Flexbox
.flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
